<html>
	<head>
		<title>WEC Assessment Template</title>
	</head>
	<body>
		
		<h1>Subpart for Questions</h1>
		<!-- ###DISPLAY_QUESTIONS### begin -->
		
			###WELCOME_BACK###
		
			###PROGRESS_BAR###
			
			<form id="assessment" action="###POST_URL###" method="post">
				<!-- ###QUESTIONS### begin -->
					
					###QUESTION###
			
					<!-- ###SCALE### begin -->
			
						###SCALE_ITEM###
			
					<!-- ###SCALE### end -->
			
		
				<!-- ###QUESTIONS### end -->
				
				<input type="hidden" name="tx_wecassessment_pi1[nextPageNumber]" value="###NEXT_PAGE_NUMBER###" />
				<input id="submit-answers" type="submit" value="Submit Answers" />
			</form>
		<!-- ###DISPLAY_QUESTIONS### end -->




		<h1>Subpart for Responses</h1>
		<!-- ###DISPLAY_RESPONSES### begin -->
			
			<!-- ###RESPONSES### begin -->
		
				###RESPONSE###
		
			<!-- ###RESPONSES### end -->
			
			###RESTART###
			
		<!-- ###DISPLAY_RESPONSES### -->
	</body>
</html>