<html>
	<head>
		<title>WEC Assessment Template</title>
	</head>
	<body>
		<!-- ###QUESTIONS### begin -->
					
			###QUESTION###
			
			<!-- ###SCALE### begin -->
			
			###SCALEITEM###
			
			<!-- ###SCALE### end -->
			
		
		<!-- ###QUESTIONS### end -->
		
		<!-- ###RESPONSES### begin -->
		
			###RESPONSE###
		
		<!-- ###RESPONSES### end -->
		
	</body>
</html>