.tx-wecassessment-pi1 label {
	display: inline;
}

.tx-wecassessment-pi1 .question, 
.tx-wecassessment-pi1 .recommendation { 
	border: none;
	border-bottom: 1px solid #ddd; 
}

.tx-wecassessment-pi1 #wec-assessment-alert {
	padding: 10px;
	border: 1px solid;
	background-color: #ffff99;
	margin-bottom: 20px;
}

.tx-wecassessment-pi1 #wec-assessment-progress .outline {
	border: 1px solid black;
	width: 200px;
}

.tx-wecassessment-pi1 #wec-assessment-progress .bar {
	background-color: #888;
}

.tx-wecassessment-pi1 #wec-assessment-progress .nav {
	padding-right: 5px;
	padding-left: 5px;
}

.tx-wecassessment-pi1 #wec-assessment-progress .nav a {
	text-decoration: none;
}

.tx-wecassessment-pi1 input[type=submit] {
	margin-top: 10px;
}

.tx-wecassessment-pi1 div.scroller fieldset.question {
	height: 145px;
	width: 475px;
	overflow:hidden;
	float: left;
	padding: 0px;
	margin: 0px;
	padding: 10px;
	border: 1px solid #666666;
	-moz-border-radius-bottomleft: 10px;
	-webkit-border-bottom-left-radius: 10px;
	-moz-border-radius-bottomright: 10px;
	-webkit-border-bottom-right-radius: 10px;
	padding: 10px;
	background-image: url(images/questionbg.jpg);
	background-repeat: no-repeat;
	background-position: right bottom;
}

.tx-wecassessment-pi1 div.scroller {
	height: 175px;
	width: 500px;
	overflow: hidden;
	margin: 0px;
	padding: 0px;
}

.tx-wecassessment-pi1 div.scroller div.content {
	width: 10000px;
}

/* put the left rounded edge on the track */
.tx-wecassessment-pi1 #track1-left {
	position: absolute;
	width: 5px;
	height: 10px;
	background: transparent url(images/slider-bg.gif) no-repeat left bottom;
}

/* put the track and the right rounded edge on the track */
.tx-wecassessment-pi1 #track1 {
	background: transparent url(images/slider-bg.gif) repeat-x right bottom;
	width: 497px;
	height: 10px;
	margin-bottom: 9px;
}

.tx-wecassessment-pi1 div.controls {
	padding-left: 2px;
	padding-bottom: 5px;
	width: 500px;
}

.tx-wecassessment-pi1 .controls div {
	float: right;
	width: 65px;
}

.tx-wecassessment-pi1 .controls .previous {
	background-image: url(images/prevarrow.gif);
	background-repeat: no-repeat;
	background-position: left top;
	display: block;
	height: 30px;
	width: 30px;
	float: left;
}

.tx-wecassessment-pi1 .controls .next {
	background-image: url(images/nextarrow.gif);
	background-repeat: no-repeat;
	background-position: left top;
	display: block;
	height: 30px;
	width: 30px;
	float: right;
}

.tx-wecassessment-pi1 .controls .alt {
	text-indent: -99999px;
	position: absolute;
}


.tx-wecassessment-pi1 .controls input#submit-answers {
	background-image: url(images/submit.gif);
	border: 0;
	width: 90px;
	height: 30px;
	overflow: hidden;
	color: transparent;
	cursor: pointer;
	float: right;
	margin: 0px;
}

.tx-wecassessment-pi1 .controls #submit-answers:hover {
	background-image: url(images/submit-ovr.gif);
}

.tx-wecassessment-pi1 .controlsclear {
	clear: both;
	height: 0px;
}
.tx-wecassessment-pi1 .controls a.previous:hover {
	background-image: url(images/prevarrow-ovr.gif);
	background-repeat: no-repeat;
}
.tx-wecassessment-pi1 .controls a.next:hover {
	background-image: url(images/nextarrow-ovr.gif);
	background-repeat: no-repeat;
}

.tx-wecassessment-pi1 #handle1 {
	margin: 0px;
	padding: 0px;
	width: 30px;
	height: 20px;
	cursor: move;
	border-bottom: none;
	background-image: url(images/handle.gif);
	background-repeat: no-repeat;
}
.tx-wecassessment-pi1 #handle1:hover {
	background-image: url(images/handle-ovr.gif);
	background-repeat: no-repeat;
}

.tx-wecassessment-pi1 .progress {
	width: 500px;
	text-align: right;
}